.header {
    padding: 2%;
    background-color:rgb(19, 179, 27);
    font-size: 40px;
    text-align: center;
    width: 100%;
    color: white;
 }
 
 .footer {
   padding: 2%;
    background-color: rgb(166, 255, 0);
    font-size: 50px;
    text-align: center;
    width: 100%
 }
 
 .dashboard {
   padding: 1% 1%;
 }

h1 {
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgba(101, 154, 158, 0.719);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}